[Unit]
Description=HashiCorp Vault (Development Mode)
Documentation=https://www.vaultproject.io/docs/
Requires=network-online.target
After=network-online.target
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=notify
User={{ vault_user }}
Group={{ vault_group }}
ProtectSystem=full
ProtectHome=read-only
PrivateTmp=yes
PrivateDevices=yes
SecureBits=keep-caps
NoNewPrivileges=yes
ExecStart=/usr/local/bin/vault server -dev -dev-root-token-id={{ vault_dev_root_token }} -dev-listen-address={{ vault_dev_listen_address }}
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=5
TimeoutStopSec=30
LimitNOFILE=65536
LimitMEMLOCK=infinity
KillSignal=SIGINT

# Logging
StandardOutput=journal
StandardError=journal
SyslogIdentifier=vault

# Environment variables
Environment="HOME={{ vault_base_dir }}"
Environment="VAULT_LOG_LEVEL={{ vault_log_level }}"
Environment="VAULT_LOG_FORMAT={{ vault_log_format }}"
Environment="VAULT_DEV_ROOT_TOKEN_ID={{ vault_dev_root_token }}"
Environment="VAULT_DEV_LISTEN_ADDRESS={{ vault_dev_listen_address }}"

[Install]
WantedBy=multi-user.target
